doctype html
head
  meta(charset='utf-8')
  title Marvel Card Game
  link(rel='stylesheet' type='text/css' href='../public/css/app.css')
body
  .app-container
//script(src='../node_modules/jquery/dist/jquery.js')
//script(src='../node_modules/page/page.js')
// script(src='../public/util/routes.js') */
//script(src='../public/util/marvel-api.js')
script(type="text/javascript" src='/app.js')
